<div class="container ">

    <p class="display-4 text-primary mb-3 mt-3 pb-3">Register Component</p>
    <hr />

    <div class="col-4 bg-white shadow mt-3 mb-3 pt-3 pb-3">
        <p class="display-4 text-primary">Register</p>
        <form class="form form-group mt-3 mb-3">
            <input class="form-control mb-3 mt-3" type="text" name="userName" id="userName"
                ng-model="credentials.userName" placeholder="Please enter username" autofocus />
            <input class="form-control mb-3 mt-3" type="password" name="password" id="password"
                ng-model="credentials.password" placeholder="Please enter password" />
            <input class="form-control btn btn-success mb-3 mt-3" type="button" value="Register" ng-click="register()" />
        </form>
    </div>
    <div>
        <a ng-href="/#!/login" className="btn btn-primary col-12">Already registered? Login</Link>
    </div>
    <div>
        <p> {{ credentials.userName }} </p>
    </div>

</div>