<div class="container ">

    <p class="display-4 text-primary mb-3 mt-3 pb-3">Login Component</p>
    <hr />

    <div class="col-4 bg-white shadow mt-3 mb-3 pt-3 pb-3">
        <p class="display-4 text-primary">login</p>
        <form class="form form-group mt-3 mb-3">
            <input class="form-control mb-3 mt-3" type="text" name="userName" id="userName"
                ng-model="credentials.userName" placeholder="Please enter username" autofocus />
            <input class="form-control mb-3 mt-3" type="password" name="password" id="password"
                ng-model="credentials.password" placeholder="Please enter password" />
            <input class="form-control btn btn-success mb-3 mt-3" type="button" value="Login" ng-click="login()" />
        </form>
    </div>
    <div>
        <a ng-href="/#!/register" className="btn btn-primary col-12">Not yet registered? Register</Link>
    </div>
</div>